<H2 class='p-2'>Cadastro</H2>
<form action='/cadastro/send' method='post' class='p-2' id='formulario'>
    <div class='input-group mb-3'>
        <span class='input-group-text'>Nome do Produto</span>
        <input type='text' class='form-control' placeholder='Digite o nome do produto' name='name' required />
    </div>
    <div class='input-group mb-3'>
        <span class='input-group-text'>Quantidade</span>
        <input type='number' class='form-control' placeholder='Digite a quantidade' name='quantity' required />
        <span class='input-group-text'>Valor</span>
        <input type='number' class='form-control' placeholder='Digite o valor do produto' name='price' required />
    </div>
    <button type='submit' class='btn btn-primary'>Cadastrar</button>
</form>